@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ToDoItem>

<h1>To-Do List</h1>

<form method="post" action="@Url.Action("Add")">
    <input type="text" name="newItem" />
    <input type="submit" value="Add Item" />
</form>

<ul>
    @foreach (var todo in Model)
    {
        <div>
            <input type="checkbox" name="isComplete" value="@todo.Id" @(todo.IsComplete ? "checked" : "")/>
            <span>@todo.Title</span>
        </div>
    }
</ul>

